body {
    background-color: black;
    font: 13px sans-serif;

}
h1 {
    text-align: center;
    color: antiquewhite;
}
p {
    text-align: center;
    color: antiquewhite;
    font-size: 15px;
}
svg {
    /* background-color: grey; */
    display: block;
    margin: auto;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 45px;
    padding: 3px;
    background: black;
    color: antiquewhite;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
.axisBeige text{
    fill: #E7B99F;
}
